<div class= "list-container">
     <%= image_tag "image ciné.png", id: 'banner' %>
    <div class= "body">
      <h1>My Movies Watchlists <i class="fas fa-film"></i></h1>
    </div>
    <div class= "row card-deck row-cols-3">
      <% @lists.each do |list| %>
        <div class="card-list">
          <%= link_to list_path(list) do %>
           
            <div class="card-body">
              <%= list.name %>
            </div>
          <%end%>
        </div>
      <%end%>
      <h1 class="d-flex justify-content-center align-items-center"><%= link_to new_list_path do %>
        <i class="fas fa-plus" id= "plus-list"></i>
      <%end%></h1>
    </div>
</div>
